<div class="background">

            </div>
       
        <div class="container">

            <div class="row one">
                <%= image_tag "logo2.png", {:class => 'pull-left'} %>
                

                <div class="col-md-8 col-md-offset-2 jumbo">
                    <h1>Buying cabinets just got easier!</h1>
                    <h3>Upload your layout and get bids from 5 local cabinet dealers.</h3>
                    <!-- <p>Step 1 of 3: Upload your Layout</p> -->
                    <!-- <form name="contactSubmit" method="post" action="contactengine.php">
                    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
                    <div class="fileUpload btn btn-primary btn-sm">
                        <span>Select a file</span>
                        <input id="uploadBtn" type="file" class="upload" />
                    </div> -->

                    <div class="btn btn-success btn-lg">
                        
                            <%= link_to "Get Started!",  new_project_path %>
                        <!-- <span>Next Step</span> -->

                    </div>
                </form>

                        
                </div>
            </div><!-- row1 -->
             <div class="row two">
                <div class="col-md-3">
                    <h4>Step 1</h4>
                    <p>Upload your layout. This gives the dealers something concrete to base your quote on. If you don't have a layout you can provide a list of cabinets.</p>
                </div>
                <div class="col-md-3">
                    <h4>Step 2</h4>
                    <p>Fill in details about your project. For example: timeframe, cabinet style, color, brand, any specifics you think will help the dealers provide the most accurate price.</p>
                </div>
                <div class="col-md-3">
                    <h4>Step 3</h4>
                    <p>Provide us with the zip code where the project is located so we can match you with local dealers. To protect your privacy, we only ask for the zip code. And submit!</p>
                </div>
                <div class="col-md-3">
                    <h4>Finished!</h4>
                    <p>You'll start recieving quotes within 24-48hrs. We limit quotes to only 5 dealers. We feel this is enough to get the best price without spamming you!</p>
                </div>
            </div><!-- row2 -->
            <div class="hr"></div>
             <div class="row three">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Shopping for cabinets is a pain! We want to make it easier.</h3>
                    <p> By providing a layout and project details before visiting a dealers showroom you can save a lot of time. If the dealer is way out of budget or doesn't have the cabinet style you're looking for then everyone's time is wasted.  We allow you to know what you're getting before you walk through the door.</p>
                    <h4>** There is absolutely no obligation to purchase cabinets using our service. **</h4>
                </div>
            </div><!-- row3 -->
            
        
        </div>
        <footer>
            
            <p class="left">&copy; 2014 CabMrkt</p>
            <span class="italic right">Kitchen Cabinet Quotes Without the Legwork!</span>
        </footer>