<%= render 'layouts/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 success box">
			<i class="fa fa-check-circle-o"></i>
			<h2>Success!</h2>
			<h3>We've received your project details.</h3>
			<h4>Cabinet dealers in your area will be intouch in 24-48hrs.</h4>
			<h4>You're one step closer to your brand new kitchen!</h4>
			<h4>Thank you for using CabMrkt!</h4>
		</div>
	</div>	
</div>

<%= render "layouts/footer" %>