<%= render "layouts/header" %>


 <div class="container box">
<div class="row">



<div class="col-md-5 col-md-offset-1 project-helper">

                <h3>Instructions</h3>
                <h4>Step 1: Contact Info</h4>
                <p>Provide your name and email address for dealers to reach out to you. A phone number is optional.</p>
                <h4>Step 2: Project Details</h4>
                <p>The details are the most important. Be as detailed as possible for the most accurate quotes.</p>
                <h4>Details to include:</h4>
                <ul class="details-list">
                    <li class="bold">Cabinet Style and Color</li>
                        <ul class="nest">
                            <li>Tradition, Modern, Economy</li>
                            <li>Raised Panel, Shaker, Flat Panel</li>
                            <li>Natural Wood, Painted, Thermofoil</li>
                            <li>Cherry, Oak, Maple, Birch</li>
                            <li>Espresso, Antique White, Cherry</li>
                        </ul>
                    <li class="bold">Type of Project</li>
                        <ul class="nest">
                            <li>Home</li>
                            <li>Rental Unit</li>
                            <li>New Construction</li>
                            <li>Renovation</li>
                            <li>Flip</li>
                        </ul>
                    <li class="bold">Timeframe</li>
                        <ul class="nest">
                            <li>ASAP</li>
                            <li>1-2 Months</li>
                            <li>When it's perfect</li>
                            

                        </ul>

                    <li class="bold">Cabinet Features</li>
                        <ul class="nest">
                            <li>Soft close drawers/doors</li>
                            <li>Dovetail drawers</li>
                            <li>Allwood construction</li>
                            

                        </ul>
                    <li class="bold">Accesories</li>
                        <ul class="nest">
                            <li>Glass Doors</li>
                            <li>Trash Pullout</li>
                            <li>Crown Moulding</li>
                            <li>Light Rail Moulding</li>
                            <li>Spice Rack</li>
                        </ul>
                </ul>
                <h4>Step 3: Zip Code</h4>
                <p>The zip code where the project is located. We need this to match you with local dealers!</p>
                <h4>Step 4: Submit!</h4>
                <p>Submit your project and wait for quotes! Typically, you can expect quotes to start arriving in 24-48 hours.</p>
            </div>

    <div class="col-md-5 project">

<h3>Your Project</h3>

<%= render 'form' %>



</div>
        </div>
</div>

<%= render "layouts/footer" %>
