<%= render "layouts/header" %>


 <div class="container ">
<div class="row">
<div class="col-md-8 col-md-offset-2 box dealer-signup">
<h1>Dealer Signup</h1>
<p>We're currently working with a select group of dealers as we test out the market. Signup here to get access to our qualified leads when we open to the public.</p>	

<%= render 'form' %>
</div><!-- column -->
</div><!-- row -->
</div><!-- container -->

<%= render "layouts/footer" %>