/*// Place all the styles related to the Projects controller here.
// They will automatically be included in application
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.field input,
.project textarea,
.project form .field input[type="text"] {
	width: 50%;
	border: none;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.project textarea {
    width: 100%;
    height: 300px;
}



.project .btn {
    margin-top: 20px;
}



.project-helper ul li {
    list-style: circle;
}

.nest {
    position: relative;
    left: 40px;
}

.nest li {

}

.details-list {
    position: relative;
    left: 20px;
}

.bold {
    font-weight: bold;
}

.project-show img {
	max-width: 100%;
}